.Loader__Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #fafafa;
}
.Loader {
  margin-top: 20px;
  max-width: 15rem;
  width: 100%;
  height: auto;
  stroke-linecap: round;
}
.Loader > circle {
  fill: none;
  stroke-width: 3.5;
  -webkit-animation-name: preloader;
  animation-name: preloader;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-transform-origin: 170px 170px;
  transform-origin: 170px 170px;
  will-change: transform;
}
.Loader > circle:nth-of-type(1) {
  animation-delay: -0.15s;
  stroke-dasharray: 550;
}
.Loader > circle:nth-of-type(2) {
  animation-delay: -0.3s;
  stroke-dasharray: 500;
}
.Loader > circle:nth-of-type(3) {
  animation-delay: -0.45s;
  stroke-dasharray: 450;
}
.Loader > circle:nth-of-type(4) {
  animation-delay: -0.6s;
  stroke-dasharray: 300;
}

@keyframes preloader {
  50% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
